# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environments
env/
venv/
*.egg-info/

# Python env files
.env

# Mac system files
.DS_Store

# VSCode files
.vscode/
